
#header-nav {
    background-color: #999999;
    border-radius: 0;
    border: solid black 3px;
  
  }

  .navbar-brand {
    padding-top: 13px;
  }
  .navbar-brand h1 { /* Restaurant name */
    font-family: "Lucida Console", "Courier New", monospace;
    color: #000000;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }

  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  #nav-list {
    margin-top: 10px;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    
}

#nav-list li {
  border: 1.5px solid;
}


#nav-list li a:hover {
  color: black;
}

#nav-list li a {
  font-size: large;
  color: #a7a1a1;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -33px;
}

#text1{
  font-size: 3em;
  font-weight: bold;
}

#text2,#text3,#text4{
  background-color: #999999;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  border: solid white 15px;
  color: #000000;
  }

#text2 p ,#text3 p,#text4 p{
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

#main-content{
  width: 100%;
}

#content{
  margin: 1px;
}

#text2 a:nth-child(1),#text3 a:nth-child(1),#text4 a:nth-child(1){
  color: #000000;
}

#text2 a:nth-child(1):hover , #text3 a:nth-child(1):hover , #text4 a:nth-child(1):hover{
  text-decoration: none;
}


